body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#rectangulo1{
    display: inline-block;
    background: black;
}
#rectangulo2{
    display: inline-block;
    background: black;
    border-radius: 10px;
}
#rojo{
    display: inline-block;
    background:red;
    border-radius: 80px;
}
#amarillo{
    display: inline-block;
    background:yellow;
    border-radius: 80px;
}
#verde{
    display: inline-block;
    background:green;
    border-radius: 80px;
}